<!doctype html>
<html lang="en">

<head>

</head>

<body>




    <header class="gra">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <!-- <h1 class="font-weight-light">Welcome to Quizy!</h1>
                    <h3 class="lead">It ain't that I'm questionin' you. To take part in any quiz.</h3> -->
                    <div style="height: 10%;"><h1 style="font-size: 6vw;color:black">Take Up a Quiz </h1>
                        <h1 style="padding: 0% 0% 0% 20%;font-size: 6vw;color: White;"><span style="color: orange;">Or</span> Create one.</h1> 
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>

</html>
